
  
      <div *ngIf="countries.length > 0"> <!-- Check if the countries array has data -->
        <ul class="list-group">
          <li class="list-group-item bg-primary"><h2 class="text-canter text-light">{{ getCountryProperty('name') }}</h2></li>
          <li class="list-group-item"><strong>Capital:</strong> {{ getCountryProperty('capitalCity') }}</li>
          <li class="list-group-item"><strong>Region:</strong> {{ getCountryProperty('region.value') }}</li>
          <li class="list-group-item"><strong>Income Level:</strong> {{ getCountryProperty('incomeLevel.value') }}</li>
          <li class="list-group-item"><strong>Latitude:</strong> {{ getCountryProperty('latitude') }}</li>
          <li class="list-group-item"><strong>Longitude:</strong> {{ getCountryProperty('longitude') }}</li>
        </ul>
      </div>
      <div *ngIf="countries.length === 0"> <!-- Handle case when countries array is empty -->
        <p>Country information not available.</p>
      </div>
